@import 
url('https://fonts.googleapis.com/css2? family = Montserrat: wght @ 100 & display = swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Montserrat', sans-serif;
    list-style:none;
}
h1{
    top: 56vh;
    left: 14vw;
    position: absolute;
    font-family:'Montserrat';
    color: white;
    z-index:2;
    font-size: 6vw;
    width:30vw;
}
.todecachos{
    display:flex;  
    margin-left: 8vw;
    margin-top: 3vh;
}
li,.seta1,.seta2,.seta3,.rolamento:hover{
    cursor:pointer;
    
}
.topicos-cabecalho{
    letter-spacing: 0.56%;
    display:flex;
    align-items: center;
    text-transform: capitalize;
    justify-content: space-evenly;
    color:  #9767A9;
    margin-top: -10vh;
    margin-left: 25vw;
    width:45vw;
    height: 10vh;
}
.DC{
    font: 800 3vh/8vw 'Montserrat';
    color:  #9767A9;
    display:flex;
    left: 30vw;
}
.busca{
    width:10vw;
    height:4vh;
    margin-top: -7.2vh;
    margin-left: 75vw;
    border: 0.40vh solid  #9767A9;
    border-radius: 20vh;
    display:flex;
}
.lupa{
    position:absolute;
    display: flex;
    top:5vh;
    left: 75.7vw;
    width:1.4vw;
}
.redes{
    display:flex;
    align-items: center;
    justify-content:space-around;
    width: 10vw;
    margin-top:-5.5vh;
    margin-left: 87vw;    
}
.negrao{
    position: absolute;
    display:flex;
    top: 15vh;
    left: 0;
    width: 98.5vw;
    height:98vh;
    border: solid 0.001vh #9767A9 ;
    z-index:1
}
.text2{
    top: 72vh;
    left: 62vw;
    width:25vw;
    position: absolute;   
    font-family:'Montserrat';
    color: white;
    z-index:2;
    font-size: 2.2vw;
    opacity: 0.8;
}
.retangulo-roxo{
    background-color: #9767A9;
    width:98.5vw;
    height:55vh;
    top:113vh;
    position: absolute;
    z-index:1;
}
.text3{
    position: absolute;
    display: flex;
    color: white;
    font-family:'Montserrat';
    font-size:4vw;
    width:53vw;
    top:120vh;
    left:4vw;
    z-index: 3;
}
.text4{
    position: absolute;    
    font-family: 'Roboto' ;
    color: white;
    z-index:3;
    font-size: 1.5vw;
    opacity: 0.90;
    width:37vw;
    top:123vh;
    left:60vw;
}
.img1{
    position: absolute;  
    display: flex;
    width: 40vw;
    top: 160vh;
    z-index: 1;
    left: 11vw;
}
.quadrado1{
    background-color: #9767A9;
    width:26vw;
    height:55vh;
    top:210vh;
    left: 18vw;
    position: absolute;
    z-index:2;
}
.frase1{
    position: absolute;
    display: flex;
    z-index: 3;
    top: 212vh;
    left: 19vw;
    width:18vw;
    height:33vh;
    font-family: 'Montserrat';
    font-size:1.85vw;
    color: white;
}
.pr1{
    position: absolute;
    display: flex;
    text-align: left;
    z-index: 3;
    top: 223vh;
    left: 19vw;
    width:24vw;
    height:40vh;
    font-family:'Montserrat';
    font-size: 1.2vw;
    color: white;
    opacity: 0.8;
}
.img2{
    position: absolute;  
    display: flex;
    width: 40vw;
    top: 205vh;
    z-index: 1;
    left: 52vw;
}
.quadrado2{
    background-color: #9767A9;
    width:28vw;
    height:50vh;
    top:257vh;
    left: 57.8vw;
    position: absolute;
    z-index:2;
}
.frase2{
    position: absolute;
    display: flex;
    z-index: 3;
    top: 260vh;
    left: 59vw;
    width:21vw;
    height:33vh;
    font-family: 'Montserrat';
    font-size:1.90vw;
    color: white;
}
.pr2{
    position: absolute;
    display: flex;
    text-align: left;
    z-index: 3;
    top: 267vh;
    left: 59vw;
    width:24vw;
    height:40vh;
    font-size: 1.15vw;
    color: white;
    opacity: 0.8;
}
.img3{
    position: absolute;  
    display: flex;
    width: 40vw;
    top: 275vh;
    z-index: 1;
    left: 11vw;
}
.quadrado3{
    background-color: #9767A9;
    width:28vw;
    height:38vh;
    top:323vh;
    left: 14vw;
    position: absolute;
    z-index:2;
}
.frase3{
    position: absolute;
    display: flex;
    z-index: 3;
    top: 326vh;
    left: 15vw;
    width:26vw;
    height:33vh;
    font-family: 'Montserrat';
    font-size:1.90vw;
    color: white;
}
.pr3{
    position: absolute;
    display: flex;
    text-align: left;
    z-index: 3;
    top: 340vh;
    left: 15vw;
    width:24vw;
    height:40vh;
    font-size: 1.15vw;
    color: white;
    opacity: 0.8;
}
.img4{
    position: absolute;  
    display: flex;
    width: 40vw;
    top: 320vh;
    z-index: 1;
    left: 52vw;
}
.quadrado4{
    background-color: #9767A9;
    width:28vw;
    height:42vh;
    top:385vh;
    left: 60vw;
    position: absolute;
    z-index:2;
}
.frase4{
    position: absolute;
    display: flex;
    z-index: 3;
    top: 388vh;
    left: 62vw;
    width:25vw;
    height:33vh;
    font-family: 'Montserrat';
    font-size:1.90vw;
    color: white;
}
.pr4{
    position: absolute;
    display: flex;
    text-align: left;
    z-index: 3;
    top: 400vh;
    left: 62vw;
    width:24vw;
    height:40vh;
    font-size: 1.15vw;
    color: white;
    opacity: 0.8;
}
.img5{
    position: absolute;  
    display: flex;
    width: 40vw;
    top: 390vh;
    z-index: 1;
    left: 11vw;
}
.quadrado5{
    background-color: #9767A9;
    width:28vw;
    height:45vh;
    top: 442vh;
    left: 18vw;
    position: absolute;
    z-index:2;
}
.frase5{
    position: absolute;
    display: flex;
    z-index: 3;
    top: 444vh;
    left: 20vw;
    width:25vw;
    height:33vh;
    font-family: 'Montserrat';
    font-size:1.90vw;
    color: white;
}
.pr5{
    position: absolute;
    display: flex;
    text-align: left;
    z-index: 3;
    top: 452vh;
    left: 20vw;
    width:24vw;
    height:40vh;
    font-size: 1.15vw;
    color: white;
    opacity: 0.8;
}
.img6{
    position: absolute;  
    display: flex;
    width: 40vw;
    top: 432vh;
    z-index: 1;
    left: 52vw;
}
.quadrado6{
    background-color: #9767A9;
    width:28vw;
    height:40vh;
    top: 493vh;
    left: 58vw;
    position: absolute;
    z-index:2;
}
.frase6{
    position: absolute;
    display: flex;
    z-index: 3;
    top: 496vh;
    left: 60vw;
    width:25vw;
    height:33vh;
    font-family: 'Montserrat';
    font-size:1.90vw;
    color: white;
}
.pr6{
    position: absolute;
    display: flex;
    text-align: left;
    z-index: 3;
    top: 505vh;
    left: 60vw;
    width:24vw;
    height:40vh;
    font-size: 1.15vw;
    color: white;
    opacity: 0.8;
}
.img7{
    position: absolute;  
    display: flex;
    width: 40vw;
    top: 503vh;
    z-index: 1;
    left: 11vw;
}
.quadrado7{
    background-color: #9767A9;
    width:28vw;
    height:35vh;
    top: 555vh;
    left: 17vw;
    position: absolute;
    z-index:2;
}
.frase7{
    position: absolute;
    display: flex;
    z-index: 3;
    top: 558vh;
    left: 19vw;
    width:25vw;
    height:33vh;
    font-family: 'Montserrat';
    font-size:1.90vw;
    color: white;
}
.pr7{
    position: absolute;
    display: flex;
    text-align: left;
    z-index: 3;
    top: 565vh;
    left: 19vw;
    width:24vw;
    height:40vh;
    font-size: 1.15vw;
    color: white;
    opacity: 0.8;
}
.caminho{
    display: flex;
    position: absolute;
    top: 550vh;
    left: 57vw;
    width: 30vw;
}
.imagem1{
    position: absolute;  
    display: flex;
    width: 20vw;
    top: 620vh;
    left: 11vw;
    height: 65vh;
}
.imagem2{
    position: absolute;  
    display: flex;
    width: 20vw;
    top: 687vh;
    left: 11vw;
    height: 23vh;
}
.imagem3{
    position: absolute;  
    display: flex;
    width: 13vw;
    top: 620vh;
    left: 32vw;
    height: 32vh;
}
.imagem4{
    position: absolute;  
    display: flex;
    width: 13vw;
    top: 654vh;
    left: 32vw;
    height: 31vh;
}
.imagem5{
    position: absolute;  
    display: flex;
    width: 13vw;
    top: 687vh;
    left: 32vw;
    height: 23vh;
}
.imagem6{
    position: absolute;  
    display: flex;
    width: 13vw;
    top: 620vh;
    left: 46vw;
    height: 65vh;
}
.imagem7{
    position: absolute;  
    display: flex;
    width: 13vw;
    top: 687vh;
    left: 46vw;
    height: 23vh;
}
.imagem8{
    position: absolute;  
    display: flex;
    width: 17vw;
    top: 620vh;
    left: 60vw;
    height: 90vh;
}
.imagem9{
    position: absolute;  
    display: flex;
    width: 14vw;
    top: 620vh;
    left: 78vw;
    height: 26vh;
}
.imagem10{
    position: absolute;  
    display: flex;
    width: 14vw;
    top: 648vh;
    left: 78vw;
    height: 62vh;
}
.rodape{
    display: flex;
    position: absolute;
    background-color: #9767A9;
    width: 98.7vw;
    top: 720vh;
    left: 0vw;
    height: 15vh;
    z-index: 1;
}
.nota-rodape{
    display: flex;
    position: absolute;
    width: 41vw;
    top: 723vh;
    left: 11vw;
    height: 15vh;
    z-index: 2;
    color:white;
    font-size: 1.1vw;
    opacity: 3;
}
.rolamento{
    display: flex;
    position: absolute;
    align-items: flex-end;
    z-index: 2;
    left: 75vw;
    top: 723vh;
    justify-content: space-around;
    width: 20vw;
    font-size: 1.1vw;
    color: white; 
    opacity: 3;
}
.seta1{
    display: flex;
    position: absolute;
    width: 1.8vw;
    top: 720vh;
    left: 72.7vw;
    height: 11vh;
    z-index: 2;
    opacity: 1;

}
.seta2{
    display: flex;
    position: absolute;
    width: 1.7vw;
    top: 720vh;
    left: 79.5vw;
    height: 11vh;
    z-index: 2;
    opacity: 1;
}
.seta3{
    display: flex;
    position: absolute;
    width: 1.8vw;
    top: 720vh;
    left: 92.3vw;
    height: 11vh;
    z-index: 2;
    opacity: 1;
}
@media (max-width:400px){
    .negrao{
        display: flex;
        position: absolute;
        width: 100vw;
        height: 40vh;
        
    }
    .todecachos{
        width: 25vw;
    }
    .face{
        width: 8vw;
    }
    .insta{
        width: 8vw;
    }
    .youtube{
        width: 8vw;
    }
    h1{
        top: 34vh;
    }
    .text2{
        top:38vh;
        font-size: 3vw;
        width: 35vw;
    }
    .redes{
        position: absolute;
        left:-83vw;
        top: 690vh;
        justify-content: space-around;
        width: 30vw;
    }
    .busca{
        display: none;
    }
    .topicos-cabecalho{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 50vw;
        font-size: 1.5vw;
        left: 10vw;
        top: 17vh;
        
    }
    .lupa{
       display: none;
    }
    .retangulo-roxo{
        top: 55vh;
        width: 100vw;
        height: 25vh;
    }
    .text3{
        top: 56vh;
        width: 98vw;
        left: 1.5vw;
    }
    .text4{
        top: 62vh;
        left: 2vw;
        font-size: 3vw;
        width: 98vw;
    }
    .img1{
        top: 83vh;
        width: 80vw;
    }
    .quadrado1{
        top: 110vh;
        width: 100vw;
        height: 28vh;
        left: 0vw;
    }
    .frase1{
        top: 112vh;
        left: 6vw;
        font-size: 4vw;
        width: 80vw;
    }
    .pr1{
        top: 118vh;
        left: 6vw;
        font-size: 3vw;
        width: 90vw; 
    }
    .img2{
        top:140vh;
        left: 8vw;
        width: 80vw;
    }
    .quadrado2{
        top: 175vh;
        height: 29vh;
        width: 100vw;
        left: 0vw;
    }
    .frase2{
        top: 177vh;
        left: 6vw;
        font-size: 4vw;
        width: 60vw;
    }
    .pr2{
        top: 182vh;
        left: 6vw;
        font-size: 3vw;
        width: 92vw; 
    }
    .img3{
        width: 80vw;
        top: 206vh;
        left: 8vw;
    }
    .quadrado3{
        top: 245vh;
        height: 23vh;
        width: 100vw;
        left: 0vw;
    }
    .frase3{
        top: 247.5vh;
        left: 6vw;
        font-size: 4vw;
        width: 60vw;
    }
    .pr3{
        top: 253vh;
        left: 6vw;
        font-size: 3vw;
        width: 92vw; 
    }
    .img4{
        width: 80vw;
        top: 270vh;
        left: 8vw;
        height: 45vh;
    }
    .quadrado4{
        top: 307vh;
        height: 26vh;
        width: 100vw;
        left: 0vw;
    }
    .frase4{
        top: 309.5vh;
        left: 6vw;
        font-size: 4vw;
        width: 60vw;
    }
    .pr4{
        top: 316vh;
        left: 6vw;
        font-size: 3vw;
        width: 92vw;  
    }
    .img5{
        width: 80vw;
        top: 335vh;
        left: 8vw;
    }
    .quadrado5{
        top: 373vh;
        height: 27vh;
        width: 100vw;
        left: 0vw;
    }
    .frase5{
        top: 375vh;
        left: 6vw;
        font-size: 4vw;
        width: 60vw;
    }
    .pr5{
        top: 380vh;
        left: 6vw;
        font-size: 3vw;
        width: 92vw;  
    }
    .img6{
        width: 80vw;
        top: 403vh;
        left: 8vw;
    }
    .quadrado6{
        top: 445vh;
        height: 24vh;
        width: 100vw;
        left: 0vw;
    }
    .frase6{
        top: 447.5vh;
        left: 6vw;
        font-size: 4vw;
        width: 60vw;
    }
    .pr6{
        top: 453vh;
        left: 6vw;
        font-size: 3vw;
        width: 92vw; 
    }
    .img7{
        width: 80vw;
        top: 472vh;
        left: 8vw;
    }
    .quadrado7{
        top: 507vh;
        height: 24vh;
        width: 100vw;
        left: 0vw;
    }
    .frase7{
        top: 510vh;
        left: 6vw;
        font-size: 4vw;
        width: 60vw;
    }
    .pr7{
        top: 516vh;
        left: 6vw;
        font-size: 3vw;
        width: 92vw; 
    }
    .caminho{
        top: 540vh;
        left: 35vw;
    }
    .imagem1{
        top: 550vh;
        height: 40vh;
        width: 40vw;
    }
    .imagem3{
        top: 550vh;
        left: 53vw;
        height: 15vh;
        width: 20vw;
    }
    .imagem4{
        top: 550vh;
        left: 76vw;
        height: 15vh;
        width: 20vw;
    }
    .imagem5{
        top: 567vh;
        left: 53vw;
        height: 23vh;
        width: 43vw;
    }
    .imagem2{
        top: 592vh;
        left: 11vw;
        height: 27vh;
        width: 85vw;
    }
    .imagem8{
        top: 620vh;
        left: 11vw;
        height: 30vh;
        width: 21.5vw;
    }
    .imagem10{
        top: 620vh;
        left: 34vw;
        height: 30vh;
        width: 21.5vw;
    }
    .imagem6{
        top: 620vh;
        left: 57vw;
        height: 50vh;
        width: 40vw;
    }
    .imagem9{
        top: 652vh;
        left: 11vw;
        height: 18vh;
        width: 21.5vw;
    }
    .imagem7{
        top: 652vh;
        left: 34vw;
        height: 18vh;
        width: 21.5vw;
    }
    .rodape{
        position: absolute;
        display: flex;
        top: 690vh;
    }
    .seta1{
        display: none;
    }
    .seta2{
        display: none;
    }
    .seta3{
        display: none;
    }
    .rolamento{
        display: none;
    }
    .nota-rodape{
        display: none;
    }
}
